.Jean img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Jean {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .KaedeharaKazuha img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .KaedeharaKazuha {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Sayu img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Sayu {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Sucrose img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Sucrose {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Traveler img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Traveler {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Venti img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Venti {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Xiao img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Xiao {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  