.Aloy img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Aloy {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }
  
  .Chongyun img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Chongyun {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
 
  }
  
  .Diona img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Diona {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
 
  }
  
  .Eula img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Eula {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }

  .Ganyu img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Ganyu {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }

  .Kaeya img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Kaeya {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }

  .KamisatoAyaka img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .KamisatoAyaka {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Qiqi img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Qiqi {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Rosaria img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Rosaria {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  