.Beidou img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Beidou {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Fischl img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Fischl {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Keqing img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Keqing {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .KujouSara img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .KujouSara {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Lisa img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Lisa {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .RaidenShogun img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .RaidenShogun {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Razor img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Razor {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Traveler img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Traveler {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  