.Amber img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Amber {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }
  
  .Bennett img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Bennett {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
 
  }
  
  .Diluc img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Diluc {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
 
  }
  
  .HuTao img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .HuTao {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }

  .Klee img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Klee {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }

  .Xiangling img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Xiangling {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }

  .Xinyan img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Xinyan {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Yanfei img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Yanfei {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  

  .Yoimiya img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Yoimiya {
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }  