@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

* {
  font-family: "Roboto";
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

h2 {
  font-size: 275%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  width: 100%;
  color: rgb(0, 0, 0);
}

h3 {
  font-size: 175%;
  margin-top: 40px;
  margin-bottom: 1%;
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  color: rgb(0, 0, 0);
}

h4 {
  font-size: 100%;
  color: rgb(0, 0, 0);
  margin-right: 5px;
  margin-left: 100px;
  margin-top: 40px;
  text-align: center;
}

.BannerBackground {
  background-image: url("./Pictures/öbanner.jpg");
  background-size: cover;
  padding: 20px;
}

.Bannerlogo img {
  width: 150px;
  height: auto;
  border: floralwhite;
}

.buttons {
  display: flex;
  gap: 1%;
  justify-content: flex-end;
  margin-right: 2%;
}

.buttons1 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40%;
}

.Amber img {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.Amber {
  border: 1px black solid;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

.Bennett img {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.Bennett {
  border: 1px black solid;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
}

.star {
  width: 10%;
  height: min-content;
  padding-left: 0%;
  padding-top: 30px;
  margin-right: 50px;
}